<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Compiled and minified CSS -->
	
  	
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="static/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

  	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
	
	
	<style type="text/css">
		#header{
			width: 100%;
			height: 80px;
		}
		#header1{
			margin: auto;
			width: 960px;
			height: 80px;
			
		}
		#img2{
			width: 190px;
			height: 80px;
		}
		#body-container{
			margin: auto;
			width: 960px;
			padding-top: 40px;
			height: 385px;
		}
		body .ui-autocomplete {
  			color: black;
  			font-family: "Times New Roman", Georgia, Serif;
  			font-size: 20px;				 
		}  
		#admin{
            position: absolute;
            top: 20px;
            right : 50px;
            }
        #doctor{
            position: absolute;
            top: 20px;
            right : 200px;
          }
	    #city{
	        position: absolute;
	        top: 20px;
	        right : 350px;
	       
	      }       
	
	</style>
	<script type="text/javascript">
		function search() {
	        	var locality = document.forms["details"]["locality"].value;
	      		var speciality = document.forms["details"]["speciality"].value;
	      		var json_data = {
	        		locality: locality,
	        		speciality: speciality,
	      		};
	      		$.ajax({
	        		type: 'POST',
	        		url: '/search',
	        		contentType: "application/json; charset=utf-8",
	        		data: JSON.stringify(json_data),
	        		dataType: 'json'
	        	});
	    	}
	    	var speciality = {{ speciality|safe }};
       	  	var locality = {{ locality|safe }};
       		$(function() {
       			$('#locality').autocomplete({
               			source:locality
            		});
		 	$('#speciality').autocomplete({
                		source:speciality
            		});
        	});
	
	</script>
	<div id = "header">
		<div id = "header1">
			<a href="/" style="float: left">
				<img id = "img2" src="static/practo.jpg" alt="book doctors">
			</a>
			<div>
        		<label id = 'doctor' style = 'float : right' value = 'Bangalore'>Practo for Doctors</label>
    		</div>
			<div>
        		<label id = 'city' style = 'float : right' value = 'Bangalore'>Bangalore</label>
    		</div>
			<div>
        		<button id = 'admin' style = 'float : right' value = 'Admin' onclick = "location.href = '/login'">Admin Login</button>
    		</div>
		</div>
	</div>
	
</head>
<body>

	<div id = "body-container">
		<div style="width: 960px; height: 40px; display: block; display: flex; flex-direction: row; color: #D0D0D0;">
			<div style = "width: 420px; height: 40px;margin-left:50px; ">
				<i class = "small mdi-action-search" style="width:30px; height:23px; vertical-align: middle;"></i>
				<p style="display: inline-block; font-size: 18px; vertical-align: middle;">Find a doctor</p>
			</div>

			<div style="float: left; width: 350px; height: 40px;">
				<i class = "small mdi-action-alarm" style="width:30px; height:23px; vertical-align: middle;"></i>
				<p style="display: inline-block; font-size: 18px; vertical-align: middle;">Pick a time</p>
			</div>
			<div style="float: left; width: 288px; height: 40px;">
				<i class=" small mdi-hardware-phone-android" style="width:30px; height:23px; vertical-align: middle; color: #D0D0D0;"></i>
				<p style="display: inline-block; font-size: 18px; vertical-align: middle;">Book the appointment</p>
			</div>
		</div>
		<div style="width:960px;height:72px;margin-top: 50px;">
			<div class="row">
    			<form action = "/search" method = "post" id = "details" class="col s12">
      				<div class="row">
        				<div class="input-field col s5">
          					<i style = "color: #3BB9FF;" class="mdi-action-room prefix"></i>
          					<input id = "locality" name = "locality" placeholder="Locality" id="icon_locality" type="text" class="validate">
          				</div>
        				<div class="input-field col s5">
          					<i style = "color: #3BB9FF;" class="mdi-action-search prefix"></i>
          					<input id = "speciality" name = "speciality" placeholder="Speciality" id="icon_Speciality" type="tel" class="validate">
          				</div>
          				<div class="col s2">
               				<input style = "width: 50px; height: 50px; margin-top: 20px;"type="image" value="Submit" class="submitButton"src="static/search.png"><br>
              			</div>
          			</div>
          		</form>
    		</div>
		</div>	
		<br><br>
		<div style = "margin: auto; width: 300px;">
			<iframe width="300" height="250" src="https://www.youtube.com/embed/m43UO3IsRos" frameborder="0" allowfullscreen></iframe>
			<p style = "text-align: center; color: grey;">Happy Mothers Day</p>
		</div>
	</div>
</body>
</html>
