<html>
<head>
   
</head>

    <h1>Add Speciality </h1>
    <hr/>
    <form method="POST" action="" role="form">
        <div class="form"><label>{{ form.name.label }}</label>{{ form.name() }}</div>
        <button type="submit">Add</button>
    </form>

</html>