<html>
	<head>
		<script src="jquery-2.1.4.min.js"> </script>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script>
		    clinicCounter=1;
		    function submitForm() {
		    	var totalClinics=$('<input>').attr('type','hidden').attr('name','clinicCount').val(clinicCounter);	
		    
		    	$('#doctorForm').append(totalClinics);
		    	var degreeList=$('<input>').attr('type','hidden').attr('name','degreeList').val($('#degreeList').val());
		    	var specialityList=$('<input>').attr('type','hidden').attr('name','specialityList').val($('#specialityList').val());
		    	$('#doctorForm').append(degreeList);
		    	$('#doctorForm').append(specialityList);
		    	$('#doctorForm').submit();
		    }

			function addClinicDetails() {
				var newClinic=$('<div>').attr('id','clinic'+clinicCounter);
				newClinic.append('Name');
				var clinicName=$('<input>').attr('type','text').attr('name','clinicName'+clinicCounter);
				newClinic.append(clinicName);
				newClinic.append('Area');
				var clinicArea=$('<input>').attr('type','text').attr('name','clinicArea'+clinicCounter);
				newClinic.append(clinicArea);
				newClinic.append('Address');
				var clinicAddress=$('<input>').attr('type','text').attr('name','clinicAddress'+clinicCounter);
				newClinic.append(clinicAddress);
				newClinic.append('City');
				var clinicCity=$('<input>').attr('type','text').attr('name','clinicCity'+clinicCounter);
				newClinic.append(clinicCity);
				newClinic.append('Contact');
				var clinicContact=$('<input>').attr('type','text').attr('name','clinicContact'+clinicCounter);
				newClinic.append(clinicContact);
				newClinic.append('Timings');
				var clinicTimings=$('<input>').attr('type','text').attr('name','clinicTimings'+clinicCounter);
				newClinic.append(clinicTimings);
				newClinic.append('Fees');
				var clinicFees=$('<input>').attr('type','text').attr('name','clinicFees'+clinicCounter);
				newClinic.append(clinicFees);
				var deleteButton=$('<input>').attr('type','button').attr('id',clinicCounter).attr('value','delete');
				deleteButton.click(function() {
					$('#clinic'+this.id).remove();
				});	
				newClinic.append(deleteButton);
				$('#clinicInfo').append(newClinic);
				clinicCounter++;
			}
		</script>
	</head>
	<body>
		<form id="doctorForm" action="/addDoctor" method="POST">
			Name <input type="text" name="dName" required placeholder="enter name" />
			<br>
			Email <input type="email" name="dEmail" required placeholder="Example:abc@gmail.com" />
			<br>
			Experience <input type="text" name="dExperience" required placeholder="Example:2years" />
			<br>
			Select Degree
			<select name="dDegree" id="degreeList" multiple="multiple">
				<option value="MBBS">MBBS</option>
				<option value="MD">MD</option>
				<option value="FRCS">FRCS</option>
				<option value="BDS">BDS</option>
				<option value="Other">Other</option>
			</select>
			<br>
			<input type="button" id="addClinic" value="AddClinicDetails" onclick="addClinicDetails()"/>
			<div id="clinicInfo"> 				
            </div>
            Select Speciality
            <select  name="dSpecialities" id="specialityList" multiple="multiple">
            	{% for speciality in specialities %}		
            		<option value={{ speciality.name }}>{{ speciality.name }}</option>
            	{% endfor %}	
            </select>
            <input type="button" value="ADD" onclick="submitForm()"/>
		</form>	
	</body>
</html>