<html>
<head>
</head>

<body>

    <div>
        <h1 >All Speciality</h1>
        <table >
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for speciality in all_speciality %}
                <tr>
                    <td>{{ speciality.id }}</td>
                    <td>{{ speciality.name }}</td>
                    <td><a href="/editSpeciality/{{ speciality.id }}">Edit</a></td>
                    <td><a href="/deleteSpeciality/{{ speciality.id }}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <a href="/addSpeciality" >Add New Speciality</a>
    <a href="/home" >Back to Home</a>
</body>
</html>
