<html>
    <head>
        <style type="text/css">

            table {
                font-family: "Lato","sans-serif";   
            }    

            table.one {                                  
                margin-bottom: 3em; 
                border-collapse:collapse;   
            }   

            td {                          
                text-align: center;     
                width: 10em;                    
                padding: 1em;       
            }       

            th {                              
                text-align: center;                 
                padding: 1em;
                background-color: #3bb9ff;       
                color: white;       
            }                 

            tr {    
                height: 1em;    
            }

            table tr:nth-child(even) {            /* added all even rows a #eee color  */
                background-color: #eee;      
            }

            table tr:nth-child(odd) {            /* added all odd rows a #fff color  */
                background-color:#fff;     
            }

            .button {
                border-top: 1px solid #96d1f8;
                background: #65a9d7;
                background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
                background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
                background: -moz-linear-gradient(top, #3e779d, #65a9d7);
                background: -ms-linear-gradient(top, #3e779d, #65a9d7);
                background: -o-linear-gradient(top, #3e779d, #65a9d7);
                padding: 5px 10px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
                -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
                -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
                box-shadow: rgba(0,0,0,1) 0 1px 0;
                text-shadow: rgba(0,0,0,.4) 0 1px 0;
                color: white;
                font-size: 14px;
                font-family: Georgia, serif;
                text-decoration: none;
                vertical-align: middle;
               }
            .button:hover {
                border-top-color: #28597a;
                background: #28597a;
                color: #ccc;
               }
            .button:active {
                border-top-color: #1b435e;
                background: #1b435e;
               }

            .buttonHolder{ 
                text-align: center; 
            }
            .heading{ 
                text-align: center; 
                color: #3e779d; 
            }

        </style>
    </head>
    <body>
        <div class="heading">
            <u><h2>CLINIC DATABASE</h2></u>
        </div>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Area</th>
                <th>Doctor ID</th>
                <th>Address</th>
                <th>City</th>
                <th>Fees</th>
                <th>Timings</th>
                <th>Contacts</th>
            </tr>
            {% for clinic in clinics %}
                <tr>
                    <td>{{ clinic.id }}</td>
                    <td>{{ clinic.name }}</td>
                    <td>{{ clinic.area }}</td>
                    <td>{{ clinic.doctor_id }}</td>
                    <td>{{ clinic.address }}</td>
                    <td>{{ clinic.city_name }}</td>
                    <td>{{ clinic.fees }}</td>
                    <td>{{ clinic.timings }}</td>
                    <td>{{ clinic.contact_no }}</td>
                    <td>
                        <a href="/edit/clinic/{{ clinic.id }}">Edit Clinic</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        <br><br>
        <div class="buttonholder">
            <form action="/">
                <input class="button" type="submit" value="Go back to Doctor Database">
            </form>
        </div>
    </body>
</html>