<html>
    <head>
        <style type="text/css">
            .heading{ 
                text-align: center; 
                color: #3e779d; 
            }
            .form{
                text-align: center;
                color: #3e779d;
            }
            .button {
                border-top: 1px solid #96d1f8;
                background: #65a9d7;
                background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
                background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
                background: -moz-linear-gradient(top, #3e779d, #65a9d7);
                background: -ms-linear-gradient(top, #3e779d, #65a9d7);
                background: -o-linear-gradient(top, #3e779d, #65a9d7);
                padding: 5px 10px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
                -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
                -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
                box-shadow: rgba(0,0,0,1) 0 1px 0;
                text-shadow: rgba(0,0,0,.4) 0 1px 0;
                color: white;
                font-size: 14px;
                font-family: Georgia, serif;
                text-decoration: none;
                vertical-align: middle;
            }
            .button:hover {
                border-top-color: #28597a;
                background: #28597a;
                color: #ccc;
            }
            .button:active {
                border-top-color: #1b435e;
                background: #1b435e;
            }

            .buttonHolder{ 
                text-align: center; 
            }
        </style>
    </head>
    <body>

        <div>
            <div class="heading">
                <u><h2> ADD DOCTOR FORM </h2></u>
            </div>
            <form class="form" method="POST" action="/doctor">
                <div>{{ form.name.label }}: {{ form.name() }}</div>
                <div>{{ form.email.label }}: {{ form.email() }}</div>
                <div>{{ form.experience.label }}: {{ form.experience() }}</div>
                <div>{{ form.speciality.label }}: {{ form.speciality() }}</div>
                <div>{{ form.education.label }}: {{ form.education() }}</div>
                <div style="display:none">{{ form.id.label }}: {{ form.id() }}</div><br><hr><br>    
                <div>
                    <button class="button" type="submit">Add Doctor</button>
                </div>
            </form>
        </div>	
    </body>
</html>