<html>
<head>
</head>
<div>
    <h1>Edit Speciality </h1>
    <hr/>
    <form class="form" method="POST" action="">
        <div class="form-group"><label>{{ form.name.label }}</label>{{ form.name() }}</div>
        <button type="submit">Edit</button>
    </form>
</div>
</html>