<html>
	<head>

	</head>
	<body>
		Name <input type="text" name="dName" required value={{ doctorInfo[0].name }} placeholder="enter name" />
		<br>
		Email <input type="email" name="dEmail" required value={{ doctorInfo[0].email }} placeholder="Example:abc@gmail.com" />
		<br>
		Experience <input type="text" name="dExperience" required value={{ doctorInfo[0].experience }} placeholder="Example:2years" />
		<br>
		<input type="button" id="addClinic" value="AddClinicDetails" onclick="addClinicDetails()"/>
			<div id="clinicInfo"> 				
            	{% for clinicNo in range(0,len(doctorInfo[3])): 
            	   	clinicId=doctorInfo[3][clinic].id 
            		clinicDivId='clinic'+clinicNo 
            		clinicName='clinicName'+clinicNo 
            		clinicArea='clinicArea'+clinicNo 
            		clinicAddress='clinicAddress'+clinicNo 
            		clinicLocation='clinicLocation'+clinicNo 
            		clinicContact='clinicContact'+clinicNo 
            		clinicFees='clinicFees'+clinicNo 
            		clinicTimings='clinicTimings'+clinicNo 
            	%}	
            		<div id="{{ clinicDivId }}" >
            			<input type="hidden" name={{ clinicDivId }} value={{ clinicId }} />
            			<input type="text" name={{ clinicName}} value={{ doctorInfo[3][clinicNo].name }} required disabled />
            			<input type="text" name={{ clinicArea}} value={{ doctorInfo[3][clinicNo].area }} required disabled />
            			<input type="text" name={{ clinicAddress}} value={{ doctorInfo[3][clinicNo].address }} required disabled />
            			<input type="text" name={{ clinicLocation}} value={{ doctorInfo[3][clinicNo].city_name }} required disabled />
						<input type="text" name={{ clinicContact}} value={{ doctorInfo[3][clinicNo].contact_no }} required disabled />
						<input type="text" name={{ clinicFees}} value={{ doctorInfo[4][clinicNo].fees }} required />
						<input type="text" name={{ clinicTimings}} value={{ doctorInfo[3][clinicNo].timings }} required />
						<input type="button" value="delete" id="{{ clinicNo }}" />
     	     		</div> 
            	{% endfor %}
            </div>	
            	<select name="specialities" multiple>	
            		{% for speciality in doctorInfo[1] %}
            			<option value={{ speciality }} selected> {{ speciality }}</option>
            		{% endfor %}
            		{% for speciality in doctorInfo[2] %}
            			<option value={{ speciality }} > {{ speciality }}</option>
            		{% endfor %}	
            	</select>
            </div>
    </body>
</html>