<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Compiled and minified CSS -->
	<script src="static/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

  	<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
	 
	<style type="text/css">
	    #header{
	      width: 100%;
     	      height: 80px;
            }
    	    #header1{
      	      margin: auto;
              width: 960px;
              height: 80px;
   	    }
            #img2{
             width: 160px;
             height: 60px;
            }
            .card-title:hover{
             text-decoration: underline;
            }
         </style>
	
</head>
<body>
  <div id = "header">
    <div id = "header1">
      <a href="/" style="float: left">
        <img id = "img2" src="static/practo.jpg" alt="book doctors">
      </a>
    </div>
    
  </div>
      {% for doctor in docList %} 
  <table>
    <tr>
      <td>
         <p>{{ doctor[0].name }} </p>
         <p>{{ doctor[2].specialityFK }} </p>
         <p>{{ doctor[0].education }}</p>
         <p>{{ doctor[0].experience }}</p>
      </td>   
      <td>
         <p>{{ doctor[1].name }} </p>
         <p>{{ doctor[1].area  }}</p>
         <p>INR: {{ doctor[2].fees }}</p>
         <p>{{ doctor[2].timings }}</p>
      </td>
        {% endfor %} 
    </tr>
   </table>
            

</body>
</html>
